<div id="content" class="site-content">
  <div id="primary" class="content-area width-full">
    <main id="main" class="site-main">
      <div class="cont">
        <h1 class="maincont-ttl">Buying order details</h1>
        <ul class="b-crumbs">
          <li>
            <a [routerLink]="['/home']">Home</a>
          </li>
          <li>Orders</li>
        </ul>
      </div>
      <div class="maincont page-styling page-full">


        <div class="cont row-wrap-boxed contacts-page">
          <div class="page-cont">
            <div class="row">
              <table class="table table-hover">

                <tr>

                  <th>
                    <h4>Order Id</h4>
                  </th>
                  <th>
                    <h4>{{orderId}}</h4>
                  </th>

                </tr>


                <tr>

                  <td>
                    <h4>Seller Name</h4>
                    <tr *ngFor="let order of orderDetails">{{order.FName}}</tr>

                  </td>
                  <td>
                    <h4>Resource Name</h4>
                    <tr *ngFor="let order of orderDetails">{{order.ResourceName}}</tr>

                  </td>
                  <td>
                    <h4>Ordered Amount</h4>
                    <tr *ngFor="let order of orderDetails">{{order.order_item_amount}}</tr>

                  </td>
                </tr>


                <tr>
                  <td>
                    <h4>Total Price</h4>
                  </td>
                  <td>
                    <h4>{{orderDetails[0].TotalPrice}}.LKR</h4>
                  </td>

                </tr>



                <tr>
                  <td>
                    <h4>Ordered Date</h4>
                  </td>
                  <td>
                    <h4 >{{orderDetails[0].order_date}}</h4>
                  </td>

                </tr>





              </table>


            </div>
          </div>
        </div>