<div class="container-fluid blog-sb-widgets page-styling site-footer">

    <div class="row">
  
      <div class="col-sm-12 col-md-4 widget align-center-tablet f-logo-wrap">
  
        <a href="index.php" class="f-logo">
  
          <img src="../../../assets/images/logo.png" alt="">
  
        </a>
  
        <p>Nothing is a waste</p>
  
        <a [routerLink]="['/contactus']"><button class="btn callback">Contact Us</button></a>
  
      </div>
  
      <div class="col-xs-6 col-sm-3 col-md-2 align-center-mobile widget">
  
        <h3 class="widgettitle">Browser</h3>
  
        <ul class="menu">
  
          <li>
  
            <a [routerLink]="['/home']">Home</a>
  
          </li>
  
          <li>
  
            <a [routerLink]="['/aboutus']">About Us</a>
  
          </li>
  
          <li>
  
            <a [routerLink]="['/contactus']">Contact Us</a>
  
          </li>
  
         
  
        </ul>
  
      </div>
  
      <div class="col-xs-6 col-sm-3 col-md-2 align-center-mobile widget">
  
        <h3 class="widgettitle">Category</h3>
  
        <ul class="menu">
  
          <li>
  
              <a [routerLink]="['/store']">E-waste</a>
  
          </li>
  
          <li>
  
              <a [routerLink]="['/store']">Plastic</a>
  
          </li>
  
          <li>
  
              <a [routerLink]="['/store']">Metal</a>
  
          </li>
  
          <li>
  
              <a [routerLink]="['/store']">Textile</a>
  
          </li>
  
        </ul>
  
      </div>
  
      <div class="col-xs-6 col-sm-3 col-md-2 align-center-mobile widget">
  
        <h3 class="widgettitle">Account</h3>
  
        <ul class="menu">
  
  
          <li>
  
            <a [routerLink]="['/cart']">Cart</a>
  
          </li>
  
          <li>
  
            <a [routerLink]="['/profile']">My Account</a>
  
          </li>
  
        </ul>
  
      </div>
  
  
  
    </div>
  </div>
  
  
  
  <div class="container-fluid page-styling site-header-before">
  
    <div class="row">
      <h6>Copirights@wastetopia.com</h6>
    </div>
  </div>