<div id="content" class="site-content">
  <div id="primary" class="content-area width-full">
    <main id="main" class="site-main">
      <div class="maincont page-styling page-full">


        <div class="heroblock" style="background-image: url(../../../assets/images/1/front/wallpaper2.jpg);">

          <h3 class="heroblock-ttl">Don't Throw Away
            <br> Your Waste</h3>
          <a [routerLink]="['/aboutus']" class="btn">Read More</a>
        </div>



        <div class="container mb40 page-styling row-wrap-container row-wrap-nottl front-icons">
          <div class="row">
            <div class="cf-lg-4 col-sm-4">
              <div class="iconbox-item iconbox-i">
                <div class="iconbox-i-top">
                  <p class="iconbox-i-img withimg">
                    <img src="../../../assets/images/1/front/11.png" alt="">
                  </p>
                  <h3>Search!</h3>
                </div>

              </div>
            </div>
            <div class="cf-lg-4 col-sm-4">
              <div class="iconbox-item iconbox-i">
                <div class="iconbox-i-top">
                  <p class="iconbox-i-img withimg">
                    <img src="../../../assets/images/1/front/22.png" alt="">
                  </p>
                  <h3>Order!</h3>
                </div>

              </div>
            </div>
            <div class="cf-lg-4 col-sm-4">
              <div class="iconbox-item iconbox-i">
                <div class="iconbox-i-top">
                  <p class="iconbox-i-img withimg">
                    <img src="../../../assets/images/1/front/33.png" alt="">
                  </p>
                  <h3>Get it!</h3>
                </div>

              </div>
            </div>
          </div>
        </div>


        <div class="page-styling row-wrap-full front-image-half">
          <section class="image-half image-half-right">
            <div class="image-half-img" style="background-image: url(../../../assets/images/1/front/banner1.jpg);">
              <img src="../../../assets/images/1/front/bg1.jpg" alt="">
            </div>
            <div class="cont image-half-cont">
              <div class="image-half-inner">
                <p class="maincont-subttl"></p>
                <h2>Linking Resources</h2>
                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">

                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>


        <div class="page-styling row-wrap-full front-image-half">
          <section class="image-half image-half-left">
            <div class="image-half-img" style="background-image: url(../../../assets/images/1/front/banner2.jpg);">
              <img src="../../../assets/images/1/front/bg2.jpg" alt="">
            </div>
            <div class="cont image-half-cont">
              <div class="image-half-inner">
                <h2>Matching </h2>
                <div class="wpb_wrapper">

                </div>
              </div>
            </div>
          </section>
        </div>


        <div class="page-styling row-wrap-full align-center front-title-block">
          <h2>Are You Ready to Get Started</h2>
          <a [routerLink]="['/store']" class="mb40 btn-multishop">Buy Now</a>
        </div>


        <div class="container page-styling row-wrap-container row-wrap-nottl">
          <div class="multishop_product_categories">
            <div class="multishop_product_categories_item">
              <a href="catalog-gallery.php">
                <span class="frontcategs-img">
                </span>

              </a>
            </div>
            <div class="multishop_product_categories_item">
              <a [routerLink]="['/store']">
                <span class="frontcategs-img">


                  <img src="../../../assets/images/1/front/glass.jpg" alt="">
                </span>
              </a>

            </div>
            <div class="multishop_product_categories_item">
              <a [routerLink]="['/store']">
                <span class="frontcategs-img">
                  <img src="../../../assets/images/1/front/metal.jpg" alt="">
                </span>

              </a>
            </div>
            <div class="multishop_product_categories_item">
                <a [routerLink]="['/store']">
                <span class="frontcategs-img">
                  <img src="../../../assets/images/1/front/e-waste.jpg" alt="">
                </span>

              </a>
            </div>
            <div class="multishop_product_categories_item">
                <a [routerLink]="['/store']">
                <span class="frontcategs-img">
                  <img src="../../../assets/images/1/front/wood.jpg" alt="">
                </span>

              </a>
            </div>
            <div class="multishop_product_categories_item">
                <a [routerLink]="['/store']">
                <span class="frontcategs-img">
                  <img src="../../../assets/images/1/front/paperwaste.jpg" alt="">
                </span>

              </a>
            </div>
            <div class="multishop_product_categories_item">
                <a [routerLink]="['/store']">
                <span class="frontcategs-img">
                  <img src="../../../assets/images/1/front/textile.jpg" alt="">
                </span>

              </a>
            </div>
          </div>
        </div>

      </div>