<div id="content" class="site-content">
  <div id="primary" class="content-area width-normal">
    <main id="main" class="site-main">
      <div class="cont maincont">
        <h1 class="maincont-ttl">Request</h1>
        <ul class="b-crumbs">
            <li><a [routerLink]="['/home']">Home</a></li>
            <li>Request Resource</li>
          </ul>
        
        <article class="page-cont">

            <flash-messages></flash-messages>

          <div class="page-styling">


            <div class="woocommerce">


              <form name="checkout" method="post" class="checkout woocommerce-checkout" action="#">


                <div class="col2-set" id="customer_details">
                  <div class="col-6">
                    <div class="woocommerce-billing-fields">

                     


                      <div class="woocommerce-billing-fields__field-wrapper">
                        <p class="form-row form-row-first validate-required" id="requested_item_name" data-priority="10">
                          <label for="requested_item_name" class="" >Item Name
                            <abbr class="required" title="required">*</abbr>
                          </label>
                          <input type="text" class="input-text " name="requested_item_name" id="requested_item_name" placeholder="What do you find"
                            value="" autocomplete="given-name" autofocus="autofocus" [(ngModel)]="itemName"/>
                        </p>

                     
                        <p class="form-row form-row-wide address-field update_totals_on_change validate-required" id="category" data-priority="40">
                          <label for="Category" class="">Category    
                            <abbr class="required" title="required">*</abbr>
                          </label>
                          <br>
                 

                            <select class="form-control form-control-lg"  [(ngModel)]="selCat" (change)="getSubCat()" name="catagory">
                              <option value="E waste">E waste</option>
                              <option value="Textile">Textile</option>
                              <option value="Plastic">Plastic</option>
                             
                              <option value="Wood-">Wood</option>
                              <option value="Paper">Paper</option>
                              <option value="Rubber">Rubber</option>
                            
                              <option value="Glass">Glass</option>
                              <option value="Metals">Metals</option>
                              <option value="Organic">Organic</option>
                                        
                              </select>

                          <p class="form-row form-row-wide address-field update_totals_on_change validate-required" id="sub_category" data-priority="40">
                            <label for="sub_category" class="">Sub Catagory
                              <abbr class="required" title="required">*</abbr>
                            </label>
                            <br>

                            <select class="form-control form-control-lg" [(ngModel)]="selSubCat" (change)="test()">
                                <option *ngFor="let sub of subCat">{{sub.SubCatName}}</option>
                              </select>
                            <!--<select name="sub_catagory" class="catagory" [(ngModel)]="selSubCat" (change)="test()">
                                <option *ngFor="let sub of subCat">{{sub.SubCatName}}</option>
  
                              </select>-->

                          </p>
                          <p class="form-row form-row-wide address-field validate-required" id="requested_quantity" data-priority="50">
                            <label for="Quantity" class="">Quantity
                              <abbr class="required" title="required">*</abbr>
                            </label>
                            <input type="text" class="input-text " name="requested_quantity" id="requested_quantity" placeholder="Do not include the measurement like(kg,m,inches)" value="" autocomplete="address-line1"
                            [(ngModel)]="quantity"/>
                          </p>
                          <p class="form-row form-row-wide address-field validate-required" id="requested_description" data-priority="50">
                              <label for="Quantity" class="">Description
                                <abbr class="required" title="required">*</abbr>
                              </label>
                              <input type="text" class="input-text " name="requested_description" id="requested_description" placeholder="please include the quantity with the measurements" value="" autocomplete="address-line1"
                              [(ngModel)]="description"/>
                            </p>


                        
                      </div>

                    </div>

                  </div>


                </div>


                <h3 id="order_review_heading"></h3>


               



                    <input (click)="onRequestClick()" type="submit" class="button alt" name="woocommerce_checkout_place_order" id="POST" value="ADD REQUEST" data-value="Place order"
                    />

                    <input type="hidden" id="_wpnonce" name="_wpnonce" value="6f6a2b42bd" />
                    <input type="hidden" name="_wp_http_referer" value="/multishop/order/" />
                 


              </form>
            </div>
          </div>

  </article>
</div>

</main>

</div>

</div>